
@{
    ViewData["Title"] = "FilteredByDate";
}

<h1>Filter transfers by date</h1>

<form asp-action="FilteredByDate" method="post">
    Date form: <input type="date" name="dateFrom"> 
    Date  to: <input type="date" name="dateTo">
    <input type="submit" name="submit" value="Wyślij">
</form>

<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>