@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome!</h1>
    <h1 class="display-4">To</h1>
    <h1 class="display-4"><i class="bi bi-bank me-2"></i> Bank LoopBreakers</h1>
</div>
